<!DOCTYPE html>
<html class="no-js" ng-app="rentapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent a Car-Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css">

    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="~/Scripts/angular.min.js"></script>


    <style>
        body {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: black;
        }
        .section-header {
            padding: 10px 10px;
            background-color: #1db954;
            color: white;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 17px;
        }
        .profile-dropdown{
            display:none;
        }
        .user-profile:hover .profile-dropdown{
            display:block;
        }
        
        
        .main {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .header-title {
            display: inline-block;
        }
        .search {
            display: inline-block;
            float: right;
            width: auto;
            height: 30px;
            margin-bottom: 5px;
            color:black;
        }
        .search input{
            font-size:12px;
            width:200px;
            height:30px;
        }
        .orders-table-wrapper {
            border: 1px solid black;
            border-bottom: 5px solid grey;
            width: 100%;
            display: inline-block;
            margin: 5px 0px;
        }
        .orders-table {
            background-color: #e1dcd6;
            padding: 15px 10px;
            
            width:100%;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        th, td {
            border: 1px solid grey;
            text-align: left;
            padding: 8px;
            height:35px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        #table-wraper {
            display: inline-block;
            width: 100%;
            margin-left: 3px;
            margin-right: 3px;
        }
        .box {
            background-color: #eeddff;
            padding: 15px;
            overflow-x: auto;
        }
        .for-header {
            padding: 5px 10px;
            background-color: lightgrey;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 15px;
        }
        .custom-button {
            padding: 5px 25px;
            margin: 4px 2px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            background-color: #1db954;
            color: white;
            border: 2px solid #1db954;
            border-radius: 5px;
            letter-spacing: 1px;
        }
        .custom-button:hover {
            background-color: lightgrey;
            color: black;
        }
        .color {
            color: red;
        }
    </style>
</head>
<body ng-controller="OrdersCtrl">
    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="~/Content/mytemplate/img/logo.png" />
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse  navigation" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/Home/Landing">HOME</a></li>
                                    <li><a href="/Home/Book">BOOK</a></li>
                                    <li><a href="/Home/Schedule">ORDERS</a></li>
                                    <li class="dropdown user-profile">
                                        <a href="#"><img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/15665679_1237994332952216_4527336322988317174_n.jpg?oh=45b7dd69c89095ea61286cb72c1ddab8&oe=5AA705FC" class="img-responsive img-circle margin" alt="profile" width="35" height="35" /></a>
                                        <ul class="dropdown-menu profile-dropdown">
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Message</a></li>
                                            <li><a href="#">Settings</a></li>
                                            <li><a href="#">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->

    <section class="main container">
        <div class="orders-table-wrapper">
            <div class="orders-table-header section-header">
                <div class="header-title">
                    ORDERS
                </div>
                <div class="search">
                    <input type="search" value="" placeholder="Search By Reciept No./ Mobile No." />
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
            <div class="orders-table table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>RECIEPT NO.</th>
                            <th>CUSTOMER NAME</th>
                            <th>MOBILE N0.</th>
                            <th>CAR REG. NO.</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                            <th>CREATE DATE</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>We design delightful digital experiences.</h2>
                        <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">

                    </div>
                    <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">SoftNice</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/AngularControllers/MasterCtrl.js"></script>
<script src="~/AngularControllers/OrdersCtrl.js"></script>